#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  /* height: var(--tg-viewport-height); */
}

.h-telegram {
  height: 100dvh;
  /* height: var(--tg-viewport-height); */
}

.stats-box {
  /* clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 3rem), calc(100% - 7rem) calc(100% - 3rem), calc(100% - 10rem) 100%, 0 100%); */
  filter: url('#rounded-filter-8');
}

.stats-box-inner {
  background-color: #e6e6e6;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 3rem), calc(100% - 7rem) calc(100% - 3rem), calc(100% - 10rem) 100%, 0 100%);
  
}

.stats-box-maturity {
  width: calc(100% - 8.5rem);
}

.deviant-maturity {
  clip-path: polygon(0% 0%, 100% 0%, calc(100% - 1.4rem) 100%, 0 100%);
}